# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Misc
downloads/

